In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Hypothesis
h1 = Números pares

h2 = Números múltiplos de 4

Datos = 4, 8, 16

In [44]:
#Espacio muestral de nuestras hipótesis
h1 = [a for a in range(100) if a%2 == 0] #Números pares
h2 = [a for a in range(100) if a%4 == 0] #Números múltiplos de 4

In [45]:
bayes = pd.DataFrame(columns=["prior", "likelihood", "posterior"], index=["h1", "h2"])
bayes

   prior likelihood posterior
h1   NaN        NaN       NaN
h2   NaN        NaN       NaN

In [46]:
def init_prior(priors, bayes):
    bayes = pd.DataFrame(columns=["prior", "likelihood", "posterior"], index=["h1", "h2"])

    bayes.prior = priors #No tener conocimiento ni información -> Máxima entropía en mi distribución.
    return bayes

def get_likelihood(h, d):
    if d in h: #si encuentra el dato en la hipotesis
        return 1/len(h) #retornamos p(x|h)
    return 1e-5 #Sino -> retorna 0.

def get_posterior(d, bayes):
    bayes.likelihood = [get_likelihood(h, d) for h in [h1, h2]] #Obtenemos el likelihood del dato,
                                                                #dadas ambas hipotesis
    bayes.posterior = bayes.prior * bayes.likelihood #Multiplicar prior * likelihood
    bayes.posterior = bayes.posterior / bayes.posterior.sum() #Estandarización para quedar en [0,1]
    return bayes

def update_prior(bayes):
    bayes.prior = bayes.posterior #Prior va a ser la posterior anterior
    bayes.likelihood = np.nan
    bayes.posterior = np.nan
    return bayes

In [48]:
def iterate(d, bayes):
    bayes = get_posterior(d, bayes)
    bayes = update_prior(bayes)
    return bayes

In [52]:
bayes = init_prior([0.5, 0.5], bayes)

In [53]:
d = 4
bayes = iterate(d, bayes)
bayes

       prior  likelihood  posterior
h1  0.333333         NaN        NaN
h2  0.666667         NaN        NaN

In [54]:
d = 16
bayes = iterate(d, bayes)
bayes

    prior  likelihood  posterior
h1    0.2         NaN        NaN
h2    0.8         NaN        NaN

In [55]:
d = 32
bayes = iterate(d, bayes)
bayes

       prior  likelihood  posterior
h1  0.111111         NaN        NaN
h2  0.888889         NaN        NaN

In [56]:
d = 6
bayes = iterate(d, bayes)
bayes

       prior  likelihood  posterior
h1  0.996016         NaN        NaN
h2  0.003984         NaN        NaN